# --- HarmonyOS / DevEco Studio ---
.gradle
.idea
build/
ohos/
entry/build/
entry/.cxx/
node_modules/
oh_modules/
*.hap
*.har
*.hsp
local.properties
.hvigor/
hvigorfile.js.map

# --- C++ / GLSL / 编译产物 ---
*.o
*.obj
*.exe
*.dll
*.so
*.a
*.lib
*.out
*.app
.vs/
bin/
gen/
out/

# --- 操作系统冗余 ---
.DS_Store
Thumbs.db
desktop.ini

# --- 调试与日志 ---
*.log
*.tmp
*.swp
.error/

# --- 编辑器 / IDE ---
*.suo
*.user
*.userosscache
*.sln.docstates
.vscode/